$purple: #55444F;
$gold: #CDB399;
$green: #8FBBBB;
$white: #E7DFE4;
$red: #D35AA7;

$gold10: rgba(205, 179, 153, 0.1);
$gold20: rgba(205, 179, 153, 0.2);
$green10: rgba(143, 187, 187, 0.1);
$red10: rgba(211, 90, 167, 0.1);
$red20: rgba(211, 90, 167, 0.2);
$danger-red70: rgba(180,40,40,0.7);
$purple80: rgba(85,68,79,0.80);
$purple90: rgba(85,68,79,0.90);