label[for="mce-EMAIL"] {
	display: none;
}

#mce-EMAIL,
#mc-embedded-subscribe {
    border: none;
    outline: none;
	@include transition-property(all);
	@include transition-duration(300ms);
	@include transition-timing-function(ease);
    &:hover,
    &:focus {
    	background-color: $white90;
    }
}

#mce-EMAIL {
	width: 100%;
    padding: 6px;
    box-sizing: border-box;
    background-color: $white40;
    color: #333333;
    font-family: $default-font-family;
}

#mc-embedded-subscribe {
    width: 100%;
    margin-top: 12px;
    background-color: $white40;
    padding: 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $default-font-family;
    font-size: 1rem;
}